@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 222.2 47.4% 11.2%;
    --muted: 210 40% 96.1%;
    --muted-foreground: 215.4 16.3% 46.9%;
    --popover: 0 0% 100%;
    --popover-foreground: 222.2 47.4% 11.2%;
    --card: 0 0% 96%;
    --card-foreground: 222.2 47.4% 11.2%;
    --border: 214.3 31.8% 91.4%;
    --input: 214.3 31.8% 91.4%;
    --primary: 0 72% 50%;
    --primary-foreground: 0 0% 98%;
    --secondary: 210 40% 96.1%;
    --secondary-foreground: 222.2 47.4% 11.2%;
    --accent: 210 40% 96.1%;
    --accent-foreground: 222.2 47.4% 11.2%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 210 40% 98%;
    --ring: 215 20.2% 65.1%;
    --radius: 0.5rem;
    --theme-divider-color: hsl(var(--border));
    --theme-outline-color: hsl(var(--ring));
  }

  .dark {
    --background: 0 0% 10%;
    --foreground: 0 0% 95%;
    --muted: 0 0% 18%;
    --muted-foreground: 0 0% 65%;
    --popover: 0 0% 12%;
    --popover-foreground: 0 0% 95%;
    --card: 0 0% 12%;
    --card-foreground: 0 0% 95%;
    --border: 0 0% 24%;
    --input: 0 0% 24%;
    --primary: 0 72% 50%;
    --primary-foreground: 0 0% 98%;
    --secondary: 0 0% 20%;
    --secondary-foreground: 0 0% 92%;
    --accent: 0 0% 24%;
    --accent-foreground: 0 0% 92%;
    --destructive: 0 65% 38%;
    --destructive-foreground: 0 0% 98%;
    --ring: 0 0% 45%;
    --theme-divider-color: hsl(var(--border));
    --theme-outline-color: hsl(var(--ring));
  }
}

@layer base {
  * {
    @apply border-border;
  }

  body {
    @apply bg-background text-foreground;
  }
}
