:root {
  --calendar-grid-color-light: var(--theme-divider-color);
  --calendar-grid-color-dark: var(--theme-outline-color);
}

.fc .fc-timegrid-slot,
.fc .fc-col-header-cell,
.fc .fc-daygrid-day,
.fc .fc-daygrid-day-frame,
.fc .fc-timegrid-axis,
.fc .fc-timegrid-divider,
.fc .fc-timegrid-lines,
.fc .fc-timegrid-bg,
.fc .fc-timegrid-slots,
.fc .fc-scrollgrid,
.fc .fc-scrollgrid-sync-inner,
.fc .fc-scrollgrid-liquid,
.fc .fc-scrollgrid-section,
.fc .fc-scrollgrid-section table,
.fc .fc-scrollgrid-section td,
.fc .fc-scrollgrid-section th {
  border-color: var(--calendar-grid-color-light);
}

.dark .fc .fc-timegrid-slot,
.dark .fc .fc-col-header-cell,
.dark .fc .fc-daygrid-day,
.dark .fc .fc-daygrid-day-frame,
.dark .fc .fc-timegrid-axis,
.dark .fc .fc-timegrid-divider,
.dark .fc .fc-timegrid-lines,
.dark .fc .fc-timegrid-bg,
.dark .fc .fc-timegrid-slots,
.dark .fc .fc-scrollgrid,
.dark .fc .fc-scrollgrid-sync-inner,
.dark .fc .fc-scrollgrid-liquid,
.dark .fc .fc-scrollgrid-section,
.dark .fc .fc-scrollgrid-section table,
.dark .fc .fc-scrollgrid-section td,
.dark .fc .fc-scrollgrid-section th {
  border-color: var(--calendar-grid-color-dark);
}

.fc-event {
  border: none;
  border-radius: 3px;
  box-shadow: 0 0 1px var(--calendar-grid-color-light);
}

.dark .fc-event {
  border: none;
  border-radius: 3px;
  box-shadow: 0 0 1px var(--calendar-grid-color-dark);
}

.fc-event,
.fc-event-main,
.fc-timegrid-event {
  cursor: pointer;
}

.fc-timegrid-event.rename-mode,
.fc-timegrid-event.rename-mode .fc-event-main,
.fc-timegrid-event.rename-mode * {
  cursor: text !important;
}

.fc-timegrid-event .fc-event-main {
  padding: 0;
}

.fc .fc-timegrid-axis-cushion {
  font-size: 0.875rem !important;
}

.fc .fc-timegrid-axis {
  width: 70px !important;
}
