:root {
  --calendar-grid-color-light: var(--theme-divider-color);
  --calendar-grid-color-dark: var(--theme-outline-color);
}

body.light-mode .fc .fc-timegrid-slot,
body.light-mode .fc .fc-col-header-cell,
body.light-mode .fc .fc-daygrid-day,
body.light-mode .fc .fc-daygrid-day-frame,
body.light-mode .fc .fc-timegrid-axis,
body.light-mode .fc .fc-timegrid-divider,
body.light-mode .fc .fc-timegrid-lines,
body.light-mode .fc .fc-timegrid-bg,
body.light-mode .fc .fc-timegrid-slots,
body.light-mode .fc .fc-scrollgrid,
body.light-mode .fc .fc-scrollgrid-sync-inner,
body.light-mode .fc .fc-scrollgrid-liquid,
body.light-mode .fc .fc-scrollgrid-section,
body.light-mode .fc .fc-scrollgrid-section table,
body.light-mode .fc .fc-scrollgrid-section td,
body.light-mode .fc .fc-scrollgrid-section th {
  border-color: var(--calendar-grid-color-light);
}

body.dark-mode .fc .fc-timegrid-slot,
body.dark-mode .fc .fc-col-header-cell,
body.dark-mode .fc .fc-daygrid-day,
body.dark-mode .fc .fc-daygrid-day-frame,
body.dark-mode .fc .fc-timegrid-axis,
body.dark-mode .fc .fc-timegrid-divider,
body.dark-mode .fc .fc-timegrid-lines,
body.dark-mode .fc .fc-timegrid-bg,
body.dark-mode .fc .fc-timegrid-slots,
body.dark-mode .fc .fc-scrollgrid,
body.dark-mode .fc .fc-scrollgrid-sync-inner,
body.dark-mode .fc .fc-scrollgrid-liquid,
body.dark-mode .fc .fc-scrollgrid-section,
body.dark-mode .fc .fc-scrollgrid-section table,
body.dark-mode .fc .fc-scrollgrid-section td,
body.dark-mode .fc .fc-scrollgrid-section th {
  border-color: var(--calendar-grid-color-dark);
}

body.light-mode .fc-event {
  border: none;
  border-radius: 3px;
  box-shadow: 0 0 1px var(--calendar-grid-color-light);
}

body.dark-mode .fc-event {
  border: none;
  border-radius: 3px;
  box-shadow: 0 0 1px var(--calendar-grid-color-dark);
}

.fc-event,
.fc-event-main,
.fc-timegrid-event {
  cursor: pointer;
}

.fc-timegrid-event .fc-event-main {
  padding: 0;
}
