body {
    background-color: #121212;
    color: #ffffff;
  }

  .container {
    max-width: 100%;
    padding: 0;
  }
  
  .navbar {
    background-color: #333333;
  }

  .navbar-brand {
    padding-left: 10px;
  }

  .defaultLabel {
    margin-top: 10px;
}

.defaultButton {
  margin-top: 10px;
}

#contentArea {
  padding-top: 2%;
}